*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.logo{
    width: 139px;
    height: 60px;
}
.btn{
    background-color: #30B868;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
}
header{
    background-color: #ffffff;
    border: 1px solid red;
}
nav{
    display: flex;
    justify-content: space-between;
    gap: 346px;
    width: 1600px;
    height: 92px;
    /* max-width: 1600px; */
    /* margin: 0px auto; */
    margin-inline: 120px;
    padding: 16px 120px 16px 120px;
    align-items: center;
    
}
nav .menu{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    list-style-type: none;
}
nav .menu a{
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}