*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.logo{
    width: 139px;
    height: 60px;
}
.btn{
    background-color: #30B868;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
}
header{
    background-color: #ffffff;
    /* border: 1px solid red; */
}
nav{
    display: flex;
    justify-content: space-between;
    gap: 346px;
    width: 1600px;
    height: 92px;
    /* max-width: 1600px; */
    /* margin: 0px auto; */
    margin-inline: 120px;
    padding: 16px 120px;
    align-items: center;
    /* border: 1px solid red; */
    
}
nav .menu{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    list-style-type: none;
}
nav .menu a{
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}
#banner{
    background: url(../assets/hero-bg.png);
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    width: 1600px;
    height: 674px;
    margin: 0 auto;
    border: 1px solid red;
    /* margin: 16px 0px 0px 0px; */
    padding: 70px 120px 134px 120px;
    
}
#banner .banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#banner .banner-container h5{
    background-color: #ffffff;
    color: #30B868;
    border: none;
    border-radius: 90px;
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
#banner .banner-container h1{
    color: #ffffff;
    font-size: 72px;
    font-style: bold;
    font-weight: 700;
    text-align: center;
}
#clr{
    color: #30B868;
}
#banner .banner-container p{
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}
#devide{
    align-items: center;
    width: 465px;
    height: 52px;
    gap: 16px;
}
#devide .trans{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
}
